html {
	height: 95%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #dad5d2;
}

body {
	height: 100%;
	margin: 20px 50px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* add animation */
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.myFrame{
    margin-bottom: 1rem;
    width: 70vw;
}
a:link{
    text-decoration: none;
}
a:visited{
    color:black;
}
h1{
    font-weight: 250;
    
}
h1:hover{
    text-decoration: line-through;
    color: #7aa39a;
}

.btn-back{
    display: flex;
    margin-right: 90vw;
    margin-top: 1px;
}
.btn-back:hover{
    color: #7aa39a;
}

