html {
  height: 95%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* background-color: #efe6e1; */
  background-color: #dad5d2;
}

body {
  height: 100%;
  margin: 20px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* add animation */
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.my-info{
    margin-top: 8rem;
}
.titles {
  text-align: center;
}
.titles h1,
.titles h2 {
  font-weight: 300;
}
.student {
  margin-top: 0.5px;
}
.titles h1:hover,
.titles h2:hover {
  text-decoration: line-through;
  color: #7aa39a;
}

.profile-icon {
  margin-left: 30px;
  align-items: center;
  margin-top: 5rem;
  border-radius: 50%;
  /* transition:1s; */
}
.profile-icon:hover {
  color: #7aa39a;
  /* -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
	*/
}

.social {
  margin-top: 2rem;
  display: flex;
  justify-content:space-between;
  text-decoration: none;
  color: black;
}

#h2-text {
  font-weight: 300;
}
#h2-text:hover {
  color: #7aa39a;
  text-decoration: line-through;
}

.text-project > button{
    font-weight: 300;
    font-size: 20px;
    margin-top: 4rem;
    width: 110px;
    height: 40px;
    /* btn styling */
    border: 0;
    border-radius: 15px ;
    background-color: #000000;
    color: #dad5d2;

}
.text-project > button:hover{
    color: black;
    background-color: #7aa39a;
    
}

.grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
}
.grid > article {
  border: 1px solid #dad5d2;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: black;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.text > button:hover{
	background-color: #7aa39a;
}
.text > button > a{
	color: #dad5d2;
}
a:any-link {
  text-decoration: none;
}

a.fas,
a.fab {
  color: #000000;
}
a.fas:hover,
a.fab:hover {
  color: #7aa39a;
}


footer {
  margin-top: 200px;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  bottom: 5px;
  text-align: center;
}
footer:hover {
  text-decoration: line-through;
  color: #7aa39a;
}
